@using Watcher.Web.Translations
@model Watcher.Web.ViewModels.ManagementViewModel

@{
    ViewBag.Title = "Watcher";
}

<div>
    @using (Html.BeginForm("Save", "Management"))
    {
        @Html.HiddenFor(x => x.OldEmail)

        <div class="row">
            <div class="col-sm-3">
                <div>@Html.LabelFor(x => x.Email)</div>
                <div>@Html.TextBoxFor(x => x.Email)</div>
                <div style="color:red">@Html.ValidationMessageFor(x => x.Email)</div>
            </div>
        
            <div class="col-sm-3">
                <div>@Html.LabelFor(x => x.NotifyMyAndroidKey)</div>
                <div>@Html.TextBoxFor(x => x.NotifyMyAndroidKey)</div>
                <div style="color:red">@Html.ValidationMessageFor(x => x.NotifyMyAndroidKey)</div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-3">
                <div>@Html.LabelFor(x => x.GetEmailNotifications)</div>
                <div>@Html.CheckBoxFor(x => x.GetEmailNotifications)</div>
                <div style="color:red">@Html.ValidationMessageFor(x => x.GetEmailNotifications)</div>
            </div>

            <div class="col-sm-3">
                <div>@Html.LabelFor(x => x.NotifyDayLater)</div>
                <div>@Html.CheckBoxFor(x => x.NotifyDayLater)</div>
                <div style="color:red">@Html.ValidationMessageFor(x => x.NotifyDayLater)</div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-3">
                <div>@Html.LabelFor(x => x.SelectedNotifyHour)</div>
                <div>@Html.DropDownListFor(x => x.SelectedNotifyHour, Model.Hours)</div>
                <div style="color:red">@Html.ValidationMessageFor(x => x.SelectedNotifyHour)</div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-3">
                <input type="submit" class="btn btn-primary" value="@Resources.Save" />
            </div>
        </div>
    }
    
    @if (TempData["result"] != null)
    {
        <div class="alert alert-success" style="margin-top:10px;" role="alert">@TempData["result"]</div>
    }
</div>