@model Web.UI.ViewModels.ManagementViewModel

@{
    ViewBag.Title = "Watcher";
}

<div style="margin-top: 10px;">
    @using (Html.BeginForm("Save", "Management"))
    {
        @Html.HiddenFor(x => x.OldEmail)

        <div>
            <p>@Html.LabelFor(x => x.SelectedNotifyHour)</p>
            <p>@Html.DropDownListFor(x => x.SelectedNotifyHour, Model.Hours)</p>
            <p style="color:red">@Html.ValidationMessageFor(x => x.SelectedNotifyHour)</p>
        </div>

        <div>
            <p>@Html.LabelFor(x => x.Email)</p>
            <p>@Html.TextBoxFor(x => x.Email)</p>
            <p style="color:red">@Html.ValidationMessageFor(x => x.Email)</p>
        </div>

        <div>
            <input type="submit" value="@Resources.Translations.Resources.Save" />
        </div>
    }
</div>