@using Watcher.Shared.Common
@using Watcher.Web.Translations
@{
    ViewBag.Title = "Persons";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-8">
        <input type="text" class="form-control" id="search" placeholder="Search..">
        <div style="margin-top: 10px;">
            <ul id="search-results"></ul>
        </div>

        <h2>@Resources.Popular</h2>
        <div>
            <ul id="popular"></ul>
        </div>
    </div>
</div>

<script>
    $.get('@Url.Action("Popular")', showPopularPersons);
    var prefix = '@Urls.PrefixImages';

    function showPopularPersons(persons) {
        showPersons(persons, $('#popular'));
    }

    function showPersons(persons, containerElement) {
        for (var i = 0; i < persons.length; i++) {
            var person = persons[i];

            var li = $('<li>');
            var a = $('<a>')
                .text(person.Name)
                .attr('data-id', person.Id)
                .attr('data-poster-path', person.ProfilePath)
                .attr('data-release-date', person.ReleaseDate)
                .attr('href', '#');
            li.append(a);

            containerElement.append(li);
        }
    }

    $('#popular').on('click', 'a', function () {
        window.handleSubscribeClick(this);
    });

    $('#search-results').on('click', 'a', function () {
        window.handleSubscribeClick(this);
    });

    $('#search').on('input', function () {
        if ($('#search').val().length > 0) {
            $.get('@Url.Action("Search")', { input: $('#search').val() }, displaySearchResults);
        }
    });

    function displaySearchResults(persons) {
        $('#search-results').children().remove();
        showPersons(persons, $('#search-results'));
    }

    $('#subscribe').click(function () {
        window.subscribe('@Url.Action("Subscribe")');
    });
</script>