<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watcher</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Watcher", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Tv shows", "Index", "TvShows")</li>
                        <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                        <li>@Html.ActionLink("Persons", "Index", "Persons")</li>
                    }
                </ul>

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Subscriptions", "Index", "Subscriptions")</li>
                            <li>@Html.ActionLink("Settings", "Index", "Management")</li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Register", "Register", "Account", null, new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", null, new { id = "loginLink" })</li>
                    </ul>
                }

            </div>
        </div>
    </div>

    <div class="container">
        @Html.Partial("_ModalDialog")
        @RenderBody()
    </div>
    
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", false)
</body>
</html>