@using Watcher.Shared.Common
@using Watcher.Web.Translations

@{
    ViewBag.Title = "Movies";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-8">
        <input type="text" class="form-control" id="search" placeholder="Search..">
        <div style="margin-top: 10px;">
            <ul id="search-results">
            </ul>
        </div>
        
        <h2>@Resources.Upcoming</h2>
        <div>
            <ul id="upcoming">
            </ul>
        </div>
    </div>
</div>

<script>
    $.get('@Url.Action("Upcoming")', showUpcomingMovies);
    var prefix = '@Urls.PrefixImages';

    function showUpcomingMovies(movies) {
        showMovies(movies, $('#upcoming'));
    }

    function showMovies(movies, containerElement) {
        for (var i = 0; i < movies.length; i++) {
            var movie = movies[i];

            var li = $('<li>');
            var a = $('<a>')
                .text(movie.Name)
                .attr('data-id', movie.Id)
                .attr('data-poster-path', movie.PosterPath)
                .attr('data-release-date', movie.ReleaseDate)
                .attr('href', '#');
            li.append(a);

            containerElement.append(li);
        }
    }

    $('#upcoming').on('click', 'a', function () {
        window.handleSubscribeClick(this);
    });

    $('#search-results').on('click', 'a', function () {
        window.handleSubscribeClick(this);
    });

    $('#search').on('input', function () {
        if ($('#search').val().length > 0) {
            $.get('@Url.Action("Search")', { input: $('#search').val() }, displaySearchResults);
        }
    });

    function displaySearchResults(movies) {
        $('#search-results').children().remove();
        showMovies(movies, $('#search-results'));
    }

    $('#subscribe').click(function () {
        window.subscribe('@Url.Action("Subscribe")');
    });
</script>