@{
    ViewBag.Title = "Watcher";
}

<script src="~/Scripts/DataTables-1.10.4/media/js/jquery.dataTables.js"></script>
<link href="~/Content/DataTables-1.10.4/media/css/jquery.dataTables.min.css" rel="stylesheet" />

<div style="margin-top: 10px;">
    <h2>@Resources.Resources.Shows</h2>
    <table id="showTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>@Resources.Resources.Name</th>
                <th>@Resources.Resources.ReleaseDate</th>
                <th>@Resources.Resources.Season</th>
                <th>@Resources.Resources.EpisodeNumber</th>
                <th>@Resources.Resources.RemainingEpisodes</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
    
    <h2>@Resources.Resources.Movie</h2>
    <table id="movieTable" class="display" cellspacing="0" width="100%" style="float: left">
        <thead>
            <tr>
                <th>Id</th>
                <th>@Resources.Resources.Name</th>
                <th>@Resources.Resources.ReleaseDate</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
    
    <h2>@Resources.Resources.Person</h2>
    <table id="personTable" class="display" cellspacing="0" width="100%" style="float: left">
        <thead>
            <tr>
                <th>Id</th>
                <th>@Resources.Resources.Name</th>
                <th>@Resources.Resources.ProductionName</th>
                <th>@Resources.Resources.ReleaseDate</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Unsubscribe</h4>
            </div>
            <div class="modal-body">
                <p id="itemId" class="hidden"></p>
                <p id="itemName" class="hidden"></p>
                <p id="modal-content" style="text-align: center;"></p>
                <div id="poster-image"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="unsubscribe">Unsubscribe</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#showTable').dataTable({
            serverSide: true,
            bFilter: false,
            bInfo: false,
            ajax: {
                'url': '@Url.Action("GetTvSubscriptions", "Subscriptions")',
            },
            columns: [
                { data: 'Id', orderable: false, visible: false },
                { data: 'Name', orderable: false },
                { data: 'ReleaseDate', orderable: true },
                { data: 'CurrentSeason', orderable: false },
                { data: 'EpisodeNumber', orderable: false },
                { data: 'Remaining', orderable: false },
                { data: 'PrefixPath', orderable: false, visible: false },
                { data: 'PosterPath', orderable: false, visible: false }
            ]
        });

        $('#showTable tbody').on('click', 'tr', function () {
            var rowData = $('#showTable').DataTable().row(this).data();
            displayInfo(rowData.Id, rowData.Name, rowData.PrefixPath, rowData.PosterPath);
        });

        $('#movieTable').dataTable({
            serverSide: true,
            bFilter: false,
            bInfo: false,
            ajax: {
                'url': '@Url.Action("GetMovieSubscriptions", "Subscriptions")',
            },
            columns: [
                { data: 'Id', orderable: false, visible: false },
                { data: 'Name', orderable: false },
                { data: 'ReleaseDate', orderable: true },
                { data: 'PrefixPath', orderable: false, visible: false },
                { data: 'PosterPath', orderable: false, visible: false }
            ]
        });

        $('#movieTable tbody').on('click', 'tr', function () {
            var rowData = $('#movieTable').DataTable().row(this).data();
            displayInfo(rowData.Id, rowData.Name, rowData.PrefixPath, rowData.PosterPath);
        });

        $('#personTable').dataTable({
            serverSide: true,
            bFilter: false,
            bInfo: false,
            ajax: {
                'url': '@Url.Action("GetPersonSubscriptions", "Subscriptions")',
            },
            columns: [
                { data: 'Id', orderable: false, visible: false },
                { data: 'Name', orderable: false },
                { data: 'ProductionName', orderable: false },
                { data: 'ReleaseDate', orderable: true },
                { data: 'PrefixPath', orderable: false, visible: false },
                { data: 'PosterPath', orderable: false, visible: false }
            ]
        });

        $('#personTable tbody').on('click', 'tr', function () {
            var rowData = $('#personTable').DataTable().row(this).data();
            displayInfo(rowData.Id, rowData.Name, rowData.PrefixPath, rowData.PosterPath);
        });
        
        function displayInfo(id, name, prefix, poster) {
            $('#modal-content').text('Unsubscribe: ' + name);

            $('#itemId').text(id);
            $('#itemName').text(name);

            $('#poster-image').removeAttr('style');
            if (prefix != poster && poster) {
                $('#poster-image')
                    .css('background-image', 'url(' + prefix + poster + ')')
                    .css('height', '19em').css('width', '13em')
                    .css('margin', '0 auto');
            }

            $('#myModal').modal('show');
        }

        $('#unsubscribe').click(function () {
            $.ajax({
                dataType: "json",
                type: 'POST',
                url: '@Url.Action("UnSubscribe", "Subscriptions")',
                data: {
                    id: $('#itemId').text(),
                    name: $('#itemName').text()
                },
                success: function(success) {
                    if (success) {
                        $('#myModal').modal('hide');
                        location.reload();
                    } else {
                        $('#myModal').modal('hide');
                    }
                }
            });
        });
    });
</script>